<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="delivery-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Delivery Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{ delivery?.customer.name }} </ion-card-title>
      <ion-item>
        <ion-icon name="calendar-outline" class="ion-padding"></ion-icon>
        {{ delivery?.date | date:'fullDate' }}
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" class="ion-padding"></ion-icon>
        {{ delivery?.customer.address }}
      </ion-item>
      <ion-item-sliding #phoneNumberSlidingItem  (click)="toggleSlidingCall()">
        <ion-item>
          <ion-icon name="call-outline" class="ion-padding"></ion-icon>
          {{ delivery?.customer.phoneNumber }}
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="callCustomer()" expandable>
            <ion-icon name="call" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="delivery?.comments">
        <ion-icon name="information-circle-outline" class="ion-padding"></ion-icon>
        {{ delivery?.comments }}
      </ion-item>
    </ion-card-header>
    <ion-card-content padding>
      <ion-list>
        <app-parcel-item *ngFor="let parcel of parcels" [parcel]="parcel"></app-parcel-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button class="footer" color="success" (click)="markAsDelivered()" [disabled]="delivery?.isDelivered">Mark as delivered</ion-button>
</ion-content>
